body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.popUp {
  z-index: 2;
}
.popUp .row {
  display: flex;
  align-items: center;
}
.popUp .row img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: .5rem;
}

.marker path {
  fill:#189ab4;
  stroke:#189ab4;
}
.addLog path {
  fill:#d4f1f4;
  stroke:#d4f1f4;
}

.locationButton {
  z-index: 3;
}